.KBTalkWrap {
	display: inline-flex;
	flex-direction: column;
	margin-bottom: 20px;
	flex-grow: 0;
}
.KBTalk {
	display: inline-block;
	background-color: #fff;
	padding: 20px;
	flex-grow: 0;
	flex-shrink: 0;
}
.moreViewBtn {
	margin-top: 16px;
}