/*
    공통 레이아웃
*/

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root{display:flex;flex-direction: column;min-height:100vh;width:100%;}
.header{flex:none;background:green;text-align:center;width:100%;color:#fff;}
.header a{padding:10px 5px;display:inline-block;}
.body{flex:1 auto;}
.footer{flex:none;line-height:50px;background:red;text-align:center;width:100%;color:#fff;}
a{color:#fff;}

.alarm{position:relative;}
.alarm::after{content:'';display:block;width:5px;height:5px;border-radius:5px;background-color:red;position:absolute;right:0;top:25%; animation: blink-effect 1s step-end infinite;}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

.chat-wrap{
    position:relative;
    flex:1 auto;
    display:flex;
    flex-direction:column;
    height:70vh;
    overflow:auto;
    border:5px dashed yellow;
}
.chat-wrap section{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    max-height:100%;
    overflow-y:auto;
}
.chat-wrap div{
    border:5px solid #333;
    height:100px;
    flex:none;
    /* opacity: 0;
    max-height: 0; */
    transition-duration: 1s;
}
.chat-wrap div.active{
    opacity: 1;
    max-height: 3000px;
}